service-now-system-api/src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="servicenow-system-api-config" api="servicenow-system-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="servicenow-system-api-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="servicenow-system-api-config" />
    </flow>
    <flow name="servicenow-system-api-console">
        <http:listener config-ref="HTTP_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="servicenow-system-api-config" />
    </flow>
    <flow name="put:\incidents\(incidentId):servicenow-system-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="7ca79123-afd6-4bb2-9991-acff28b1a439" name="modifyIncidentById" />
    </flow>
    <flow name="delete:\incidents\(incidentId):servicenow-system-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="cd9a43b9-6d17-4fa5-8302-3eaed27e7820" name="deleteIncidentById" />
    </flow>
    <flow name="get:\incidents\(incidentId):servicenow-system-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="e80a1c3d-f700-4bbc-a901-8e0e53e134a2" name="getIncidentById" />
    </flow>
    <flow name="post:\incidents:application\json:servicenow-system-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="93269ef4-8d78-453e-9405-ac509f374ca1" name="createIncident" />
    </flow>
    <flow name="get:\incidents:servicenow-system-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="f194c7a7-18bb-441d-a37e-229640ae191f" name="getAllIncidents" />
    </flow>
    <flow name="put:\incidents\(incidentId)\close:application\json:servicenow-system-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="faed82ec-8240-4e77-9ff2-3d1b2c1a4dc3" name="closeIncidentById" />
    </flow>
    <flow name="get:\incidents\search:servicenow-system-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="c96d422b-1f75-4c3c-8e92-a9d9b8dc1d50" name="searchIncidents" />
    </flow>
</mule>
