service-now-system-api/src/main/mule/health.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="livenessCheck" doc:id="76895d31-a51e-4333-aa44-9a3a7b2126cd" >
		<http:listener doc:name="Listener" doc:id="3f5b309d-f4c3-497d-bf01-28ec8b0f075a" config-ref="HTTP_Listener_config" path="/alive">
			<http:response statusCode="200" />
			<http:error-response statusCode="500" >
				<http:body ><![CDATA[#[DOWN]]]></http:body>
			</http:error-response>
		</http:listener>
		<set-payload value='UP' doc:name="Set Payload" doc:id="e6f45099-b584-47c3-8dca-04da6cb8fac7" />
	</flow>
	<flow name="readinessCheck">
		<http:listener config-ref="HTTP_Listener_config" path="/ready">
		<http:response statusCode="200" />
		<http:error-response statusCode="500">
		<http:body><![CDATA[DOWN]]></http:body>
		</http:error-response>
		</http:listener>
		<flow-ref name="check-all-dependencies-are-alive" />
		<set-payload value="UP" />
	</flow>
	<sub-flow name="check-all-dependencies-are-alive">
		<logger />
	</sub-flow>
</mule>
