service-now-system-api/src/main/mule/main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:servicenow="http://www.mulesoft.org/schema/mule/servicenow"
	xmlns:service-now-system-api="http://www.mulesoft.org/schema/mule/service-now-system-api" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/service-now-system-api http://www.mulesoft.org/schema/mule/service-now-system-api/current/mule-service-now-system-api.xsd
http://www.mulesoft.org/schema/mule/servicenow http://www.mulesoft.org/schema/mule/servicenow/current/mule-servicenow.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9ceb2c1c-99fd-4f5e-b9d4-257fd5dbec01" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<sub-flow name="CloseIncidentSetVariables" doc:id="c5d0ea54-f419-4583-8133-3c17381f710e" >
		<scatter-gather doc:name="Scatter-Gather" doc:id="78c164bf-cabb-492d-9646-bf7ba80057f2">
			<route>
				<set-variable value="#[payload.caller_id]" doc:name="caller_id" doc:id="9d4b5893-a734-41d3-a2a8-fb0323534d0c" variableName="caller_id" />
			</route>
			<route>
				<set-variable value="#[payload.close_code]" doc:name="close_code" doc:id="91b396a5-95bb-4954-b80c-921dc15fd694" variableName="close_code" />
			</route>
			<route>
				<set-variable value="#[payload.close_notes]" doc:name="close_notes" doc:id="65abbbb8-a68a-48b2-ac02-145f1009047d" variableName="close_notes" />
			</route>
			<route>
				<set-variable value="#[payload.parent_incident]" doc:name="parent_incident" doc:id="5f69fbc8-e12c-49fb-86eb-fa935262063e" variableName="parent_incident" />
			</route>
		</scatter-gather>
	</sub-flow>
	<sub-flow name="getSysId" doc:id="10d388d5-2adb-4d20-be5e-c1831623e4d5" >
		<scatter-gather doc:name="Scatter-Gather" doc:id="2f4f254b-c729-45ff-8696-9afc2721fac4">
			<route>
				<set-variable value="#[attributes.queryParams.impact]" doc:name="impact" doc:id="e244c146-2137-4d2c-9009-b0e3b053fbb7" variableName="impact" />
			</route>
			<route>
				<set-variable value="#[attributes.queryParams.urgency]" doc:name="urgency" doc:id="18e292f6-d67f-41aa-9ec9-fd95da046542" variableName="urgency" />
			</route>
			<route>
				<set-variable value="#[attributes.queryParams.state]" doc:name="state" doc:id="7568df71-afb5-49c8-8c1d-c53d15097cf8" variableName="state" />
			</route>
			<route>
				<set-variable value="#[attributes.uriParams.incidentId]" doc:name="incidentId" doc:id="effb8a34-5d8a-442a-ada4-78b4f1d9bdf1" variableName="incidentId" />
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="972a72a4-3b2c-4a81-abf4-f969502e5ba4">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.service-now.com/incident
---
{
	ns0#getRecords: {
		ns0#number: vars.incidentId
		}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<servicenow:invoke doc:name="Invoke" doc:id="e7d9e44f-8c5f-412c-bc6a-c5a8b654f945" config-ref="ServiceNow_Config" service="incident" operation="getRecords" />
		<set-variable value="#[payload.body.getRecordsResponse.getRecordsResult.sys_id]" doc:name="sys_id" doc:id="7abed028-8449-4b46-bfc2-d5297a02d338" variableName="sys_id" />
	</sub-flow>
	<flow name="getAllIncidents" doc:id="13bb6056-90a7-4f25-9ede-7d270dc48b37" >
		<ee:transform doc:name="Transform Message" doc:id="2250e366-6e6b-4018-8695-374a061f2403" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.service-now.com/incident
---
{
	ns0#getRecords: {

		}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<servicenow:invoke service="incident" operation="getRecords" doc:name="Invoke" doc:id="b959d3ed-15e5-44f4-b81e-a70db0d22ba8" config-ref="ServiceNow_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="39a11271-869e-43e4-a2c1-3cc900ea03ea" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var results = payload.body.getRecordsResponse
---
results mapObject (
    { "incident": {
        "incident_id": $.number,
        "sys_id": $.sys_id,
        "description": $.short_description,
        "state": $.incident_state,
        "priority": $.priority,
        "urgency": $.urgency,
        "impact": $.impact,
        "comments": $.comments_and_work_notes
        }
    }
)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="ad82be0a-b2c3-481b-b00a-1de165029c08" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
fun getUrgency(urgency) = urgency match {
	    case "1" -> "High"
        case "2" -> "Medium"
        case "3" -> "Low"
        else -> null
	}

fun getState(state) = state match {
        case "1" -> "New"
        case "2" -> "In Progress"
        case "3" -> "On Hold"
        case "4" -> "Resolved"
        case "5" -> "Closed"
        case "6" -> "Canceled"
        else -> null
}

fun getImpact(impact) = impact match {
        case "1" -> "High"
        case "2" -> "Medium"
        case "3" -> "Low"
        else -> null
}

fun getPriority(priority) = priority match {
        case "1" -> "Critical"
        case "2" -> "High"
        case "3" -> "Moderate"
        case "4" -> "Low"
        case "5" -> "Planning"
        else -> null
}
---
payload mapObject (
    {
        "incident": {
            "incident_id": $.incident_id,
            "sys_id": $.sys_id,
            "description": $.description,
            "state": getState($.state),
            "urgency": getUrgency($.urgency),
            "impact": getImpact($.impact),
            "priority": getPriority($.priority),
            "comments": $.comments
        }
    
    }
)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="createIncident" doc:id="8aed0a86-4452-4379-a5a5-c7d69492c07c" >
		<ee:transform doc:name="Transform Message" doc:id="0a930943-8c60-496f-bfe7-b83b6d2d057f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
  insert: {
    short_description: payload.description,
    comments: payload.comments,
    state: payload.state match {
        case str: "New" -> {"state": 1}
        case str: "In Progress" -> {"state": 2}
        case str: "On Hold" -> {"state": 3}
        case str: "Resolved" -> {"state": 4}
        case str: "Closed" -> {"state": 5}
        case str: "Canceled" -> {"state": 6}
    },
    urgency: payload.urgency match {
    	case str: "High" -> {"urgency": 1}
    	case str: "Medium" -> {"urgency": 2}
    	case str: "Low" -> {"urgency": 3}
    },
    impact: payload.impact match {
    	case str: "High" -> {"impact": 1}
    	case str: "Medium" -> {"impact": 2}
    	case str: "Low" -> {"impact": 3}
    }
  }
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<servicenow:invoke doc:name="Invoke" doc:id="4cdb8f6a-bca5-4f18-b18c-9f4518122616" config-ref="ServiceNow_Config" service="incident" operation="insert"/>
		<ee:transform doc:name="Transform Message" doc:id="5cb6fad3-2af0-44d9-b71a-c2e1e0494f00" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getIncidentById" doc:id="9ceb013f-0762-4543-8ba5-ddf297be4712" >
		<ee:transform doc:name="Transform Message" doc:id="ef577bcc-5782-4f2a-b875-33ff6bf57f48" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.service-now.com/incident
---
{
	ns0#getRecords: {
		ns0#number: attributes.uriParams.incidentId
		}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<servicenow:invoke doc:name="Invoke" doc:id="a92f1973-9423-403c-93f8-783671bd4b6e" service="incident" operation="getRecords" config-ref="ServiceNow_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="c7efba8d-3fca-4231-910a-84dadcca0641" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    "incident_id": payload.body.getRecordsResponse.getRecordsResult.number,
    "sys_id": payload.body.getRecordsResponse.getRecordsResult.sys_id,
    "state": payload.body.getRecordsResponse.getRecordsResult.incident_state,
    "urgency": payload.body.getRecordsResponse.getRecordsResult.urgency,
    "description": payload.body.getRecordsResponse.getRecordsResult.short_description,
    "comments": payload.body.getRecordsResponse.getRecordsResult.comments_and_work_notes,
    "priority": payload.body.getRecordsResponse.getRecordsResult.priority,
    "impact": payload.body.getRecordsResponse.getRecordsResult.impact
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="a26ae5dd-99bf-4925-8e13-b6d2d230dfdc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
fun getUrgency(urgency) = urgency match {
	    case "1" -> "High"
        case "2" -> "Medium"
        case "3" -> "Low"
        else -> null
	}

fun getState(state) = state match {
        case "1" -> "New"
        case "2" -> "In Progress"
        case "3" -> "On Hold"
        case "4" -> "Resolved"
        case "5" -> "Closed"
        case "6" -> "Canceled"
        else -> null
}

fun getImpact(impact) = impact match {
        case "1" -> "High"
        case "2" -> "Medium"
        case "3" -> "Low"
        else -> null
}

fun getPriority(priority) = priority match {
        case "1" -> "Critical"
        case "2" -> "High"
        case "3" -> "Moderate"
        case "4" -> "Low"
        case "5" -> "Planning"
        else -> null
}
---
{
    "incident_id": payload.incident_id,
    "description": payload.description,
    "sys_id": payload.sys_id,
    "state": getState(payload.state),
    "urgency": getUrgency(payload.urgency),
    "impact": getImpact(payload.impact),
    "priority": getPriority(payload.priority),
    "comments": payload.comments
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="notifyIncidentChange" doc:id="e68da193-8a0a-49be-8aef-3eba1f8ea606" >
		<servicenow:new-or-updated-record-listener tableName="incident" doc:name="On New / Updated Record" doc:id="78d95473-b2e1-4414-be9e-2ac792e8a7fe" config-ref="ServiceNow_Config">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</servicenow:new-or-updated-record-listener>
		<ee:transform doc:name="Transform Message" doc:id="32e8cdd3-4dbf-4648-9688-11f06e837d01" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9b6e7608-3737-49d3-aa07-ea77d6f92bc8" message="#[payload]" />
	</flow>
	<flow name="modifyIncidentById" doc:id="5b6641d5-76a4-4ea7-a6dd-5bf52c165a12" >
		<flow-ref doc:name="getSysId" doc:id="068e32c3-7b4a-4e60-ad40-2d63e89f4aea" name="getSysId" />
		<ee:transform doc:name="Transform Message" doc:id="cec878b2-e237-4392-9cb5-a38a3420d06f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.service-now.com/incident
---
{
	ns0#update: {
		ns0#sys_id: vars.sys_id,
		ns0#state: vars.state match {
	        case str: "New" -> {"state": 1}
	        case str: "In Progress" -> {"state": 2}
	        case str: "On Hold" -> {"state": 3}
       		else -> null

    	},
    	ns0#urgency: vars.urgency match {
	    	case str: "High" -> {"urgency": 1}
	    	case str: "Medium" -> {"urgency": 2}
	    	case str: "Low" -> {"urgency": 3}
	    },
	    ns0#impact: vars.impact match {
	    	case str: "High" -> {"impact": 1}
	    	case str: "Medium" -> {"impact": 2}
	    	case str: "Low" -> {"impact": 3}
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<servicenow:invoke service="incident" operation="update" doc:name="Invoke" doc:id="cbd0a75b-716c-40d2-8f1f-1b0cab740353" config-ref="ServiceNow_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="e7098169-8262-4687-8a74-1024b71da67b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="deleteIncident" doc:id="21514b8f-a483-4895-b6c9-d0ba59c5ee6b" >
		<flow-ref doc:name="getSysId" doc:id="521c731c-0d58-45a0-8f1d-b3f8a425383f" name="getSysId"/>
		<ee:transform doc:name="Transform Message" doc:id="5ec2fb41-79f8-44d9-bb93-9baca3a5b49f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.service-now.com/incident
---
{
	ns0#deleteRecord: {
		ns0#sys_id: vars.sys_id
		}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<servicenow:invoke doc:name="Invoke" doc:id="f2c8ffe5-1eee-4b44-99cd-7474a5da6fd1" config-ref="ServiceNow_Config" service="incident" operation="deleteRecord"/>
		<ee:transform doc:name="Transform Message" doc:id="66742a3a-0c9b-4a41-bf62-12f91bebbd24" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="closeIncident" doc:id="204ab57f-3c54-43c9-b77f-f3958e29f0f4" >
		<scatter-gather doc:name="Scatter-Gather" doc:id="13a6a3e7-862a-432e-971b-84b0a876e6be" >
			<route >
				<flow-ref doc:name="closeIncidentSetVariables" doc:id="e377f9d5-5508-49be-ad17-c74e9571f85e" name="CloseIncidentSetVariables" />
			</route>
			<route >
				<flow-ref doc:name="getSysId" doc:id="4e5dfa69-6d1a-462f-a870-950eea883671" name="getSysId" />
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="dcb33766-b3cf-4fbb-a590-5c72408dcbaa" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.service-now.com/incident
---
{
	ns0#update: {
		ns0#sys_id: vars.sys_id,
		ns0#state: vars.state match {
	        case str: "Resolved" -> {"state": 6}
	        case str: "Closed" -> {"state": 7}
	        case str: "Canceled" -> {"state": 8}
       		else -> null
       		},
    	ns0#caller_id: vars.caller_id,
    	ns0#close_code: vars.close_code,
    	ns0#close_notes: vars.close_notes,
    	ns0#parent_incident: vars.parent_incident
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<servicenow:invoke operation="update" doc:name="Invoke" doc:id="9dcc5cb7-4255-4838-9b53-e2c24fa8f8ab" config-ref="ServiceNow_Config" service="incident"/>
		<ee:transform doc:name="Transform Message" doc:id="38e8ee31-c95b-469e-b406-06cee3e8a8a1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
